* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
}

.left-panel {
    width: 20%;
    border: 1px solid #ccc ;
    box-sizing: border-box;
    color: white;
    background-color: rgb(23, 7, 64);
    display: flex;
    flex-direction: column;
}
.logo-container{
    display: flex;
    align-items: center;
    text-align: center;
    background-color:rgb(23, 7, 64);
}

.logo{
    width: 80%px;
    max-width: 150px;
    height: 100px;
}
.logo-text{
    color: rgb(0, 255, 255);
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 14px;
    margin-left: 10px;
}
.buttons-container{
    margin-bottom: 10px;
}

.button-box{
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
}
.button-box a {
    color: rgb(0, 255, 255);
    text-decoration: none;
}

.button-box:hover{
    cursor: pointer;
}
.button-box a:hover{
    color: rgb(255, 255, 255);
}
.right-panel {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
    grid-gap: 10px;
}

.overview{
    grid-column: 1/ span 1;
    grid-row: 1;
}

.brands{
    grid-column: 2/ span 1;
    grid-row: 1;
}

.earnings {
    grid-column: 1/ span 3;
    grid-row: 2;
}


.average-earnings{
    grid-column: 1/ span 1;
    grid-row: 3;
}
.expenses{
    grid-column: 2/ span 1;
    grid-row: 3;
}

.overview, .brands, .earnings, .average-earnings, .expenses {
    min-width: 100%; 
    max-width: 400px; 
    max-height: 200px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    background-color: #f9f9f9;
}


@media screen and (max-width: 768px){
    .container{
        flex-direction: row;
    }
    .left-panel, .right-panel{
        width: 100%;
    }
    .logo{
        width: 100%;
    }
}
@media screen and (max-width: 480px){
    .logo{
        width: 50%;
    }
}

